.gamebox {
  text-align: center;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  margin: 5px;
}

.appTitle {
  margin: 2% 10%;
  font-size: 4rem;
  font-family: 'Leckerli One', cursive;
}

.footerBox {
  margin-top: 4rem;
  text-align: center;
  color: #6c757d;
}

.gameText {
  display: inline-block;
  margin: 2rem;
  position: relative;
  bottom: 106px;
}

.appArea {
  text-align: center;
  margin-top: 50px;
}

.navbar {
  background-color: #7c48b1;
  color: white;
  font-size: 2rem;
  clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
  border-radius: 0 0 1.5rem 0;
}

.x {
  color: #c48080;
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: 'Arial Unicode MS';
}

.o {
  color: #ca7c2d;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Arial Unicode MS';
}

.c {
  background-color: #7FFFD4;
}

.a {
  background-color: #7FFFD4;
}

.b {
  background-color: #40E0D0;
}

.singlebox {
  height: 6rem;
  width: 6rem;
  display: inline-block;
  padding: 0;
  position: relative;;
}

.wholeBox {
  display: inline-block;
  border: 2px solid;
  padding: 5px;
}
